# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
* frodrigues@stone.com.br pedro.souza@stone.com.br diego.martins@stone.com.br jonas.bezerra@stone.com.br jcmarques@stone.com.br fteixeira@stone.com.br
